In [1]:
import pandas as pd

In [2]:
#Muestras no en la bioweb
filtrar = ["QCA238396","QCA20391","QCA39199","QCA39106","QCA20463","QCA20461","QCA237501","QCA20462"]

#numeroMuseo	altitudMax	altitudMin	fechaInicioColeccion	genero	especie	latitude	longitude	year	decade	elev_category	Obs
df = pd.read_excel(r"c:\Users\Andrea\Downloads\iWUE_analysis\Listado_herbarium_collections_21102024.xlsx")

In [3]:
df_filtrado = df[df['qcazNemonico'].isin(filtrar)]
df_filtrado
nuevos_nombres = {
    'qcazNemonico':"numeroMuseo",
    #'Elev_bioweb': 'altitudMax',
    "fecInicioRecoleccion":"fechaInicioColeccion",
    'Latitud': 'latitude',
    "Longitud":"longitude"
}
df_renombrado = df_filtrado.rename(columns=nuevos_nombres)
df_renombrado["Obs"] ="Coordinates are in UTM"

In [4]:
columnas_mantener = ["numeroMuseo","altitudMax","altitudMin","fechaInicioColeccion","genero","especie","latitude","longitude","Obs"]

df_renombrado_limpio = df_renombrado[columnas_mantener]

from datetime import datetime
now = datetime.now() # current date and time

date_time = now.strftime("%d%m%Y")
df_renombrado_limpio.to_excel(r"DataWeb/ManualDataWeb_"+date_time+".xlsx")

In [5]:
df_renombrado_limpio

,numeroMuseo,altitudMax,altitudMin,fechaInicioColeccion,genero,especie,latitude,longitude,Obs
38,QCA238396,1600.0,NaN,1973-11-23,Guarea,kunthiana,-0.180653,-78.467838,Coordinates are in UTM
136,QCA237501,1874.0,NaN,2013-03-14,Alnus,acuminata,0.0491S,70.7079 W,Coordinates are in UTM
139,QCA20462,3200.0,NaN,1984-03-05,Alnus,acuminata,0°10'S,78°50'W,Coordinates are in UTM
151,QCA20391,2980.0,NaN,1987-04-25,Alnus,acuminata,-0.2,-78.65,Coordinates are in UTM
161,QCA20461,3350.0,1800.0,1987-09-25,Alnus,acuminata,00°05'N,78°30'W,Coordinates are in UTM
162,QCA20463,2000.0,NaN,1989-10-30,Alnus,acuminata,04°22'S,79°09'W,Coordinates are in UTM
191,QCA39106,3000.0,2700.0,1993-02-22,Vallea,stipularis,02°50' S,79° 20' W,Coordinates are in UTM
247,QCA39199,3100.0,NaN,1983-03-14,Vallea,stipularis,0°17' N,71° 27' W,Coordinates are in UTM